@charset "UTF-8";

/*

roxo: #62008F
verde: #21DB16

*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'btn';
    src: url(../fontes/upheavtt.ttf) format('truetype');
}

@font-face {
    font-family: 'Game';
    src: url(../fontes/04B_30__.TTF) format('truetype');
}




*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: linear-gradient(to bottom, #62008F,#62008F,#62008F, #c2ffc5, #62008F);
}
header{
    background-image: linear-gradient(to bottom, #dca3f7, #62008F);
    padding: 20px;
    
}
header h1{
    text-align: center;
    color: black;
    padding: 30px;
    font-family: Game, Arial, Helvetica, sans-serif;
    
}
menu{
    text-align: center;
    background-color: #62008F;
    padding: 20px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.342);
}
menu ul{
    list-style: none;
}
menu li{
    display: inline-block;
    
}

div#anot{
    background-color: white;
    padding: 10px;
    width: 50%;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    background: white url(../imagens/textura-de-papel-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 1px white;
    
}
div#anot p{
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
}
div#anot h2{
    text-align: center;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: underline;
    
}


/*botao*/
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    user-select: none;
    
    margin-left: 10px;
    
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(125, 100%, 16%) 0%,
       hsl(120, 100%, 32%) 8%,
       hsl(108, 100%, 32%) 92%,
       hsl(96, 100%, 16%) 100%
     );
   }
   
   .front {
    display: block;
    font-family: btn, Arial, Helvetica, sans-serif;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background: #21DB16;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
